**/node_modules/
**/.git
**/README.md
**/LICENSE
**/.idea
**/.vscode
**/npm-debug.log
**/coverage
**/.env
**/.editorconfig
**/.aws
**/dist
**/build
**/out
**/.next
**/.yarnrc.yml
**/next-env.d.ts
**/.gitignore
**/.env.example